[submodule "projects/Dead-Space"]
	path = projects/Dead-Space
	url = https://github.com/Hoffee-Toffee/Dead-Space.git
[submodule "projects/supe-game"]
	path = projects/supe-game
	url = https://github.com/Hoffee-Toffee/supe-game.git
[submodule "projects/supedb"]
	path = projects/supedb
	url = https://github.com/Hoffee-Toffee/supedb.git
[submodule "projects/Datacord"]
	path = projects/Datacord
	url = https://github.com/Hoffee-Toffee/Datacord
[submodule "projects/SeriesMingle"]
	path = projects/SeriesMingle
	url = https://github.com/Hoffee-Toffee/SeriesMingle
