html#homePage {
  #top-box {
    display: flex;
    margin-top: 1em;
    width: 100%;
  }

  #me {
    border: 3px solid black;
    outline: 0.5em solid var(--color-blue);
    border-radius: calc(1em / 0);
    border-bottom-right-radius: 0;
    width: 25vw;
    height: 25vw;
    max-width: 15em;
    max-height: 15em;
    margin-left: 1em;
    margin-right: 2em;
    margin-bottom: 1.5em;
    align-self: end;
  }

  main h1 {
    margin: 0;
    margin-bottom: 0.5em;
    text-align: center;
  }

  #right-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 1em;

    ul {
      border: 0.25em solid var(--color-blue);
      border-radius: 0.5em;
      padding: 0.5em 1em 0.5em 2em;
      margin: 0 1em 1.5em 0;
    }
  }

  #content > p {
    margin: 1em 1em;
  }


  @media screen and (max-width: 700px) {
    #top-box {
      position: relative;
    }

    #me {
      position: absolute;
    }

    #right-col {
      width: 100%;
      padding-left: calc(25vw + 1.5em);
      box-sizing: border-box;

      ul {
        width: auto;
        margin-left: 0.75em;
        margin-right: 0.5em;
        margin-bottom: 1.5em;
        box-sizing: border-box;
      }
    }
  }

  @media screen and (max-width: 500px) {
    #me {
      display: none;
    }

    #right-col {
      padding-left: 0;

      h1 {
        text-align: center;
        padding: 0 0.75em;
      }

      ul {
        width: calc(100% - 1.5em);
        align-self: center;
        margin-left: 0.75em;
        margin-right: 0.75em;
      }
    }
  }
}
