html {
    pointer-events: none;
}

#title {
    /* Color should be the opposite of the background */
    color: grey;
    text-align: center;
    text-decoration: underline;
    font-size: 1.5em;
}

div#sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1.5em;
}

div#sections div {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 1.5em;
}

div#main {
    background-color: var(--col-orange);
    border: solid var(--col-bg) 0.2em;
    outline: solid var(--col-orange-shadow) 0.5em;
    box-shadow: 0 0 1.5em var(--col-orange-shadow);
}

div#sec {
    background-color: var(--col-red-orange);
    border: solid var(--col-bg) 0.2em;
    outline: solid var(--col-red-orange-shadow) 0.5em;
    box-shadow: 0 0 1.5em var(--col-red-orange-shadow);
}

div#ter {
    background-color: var(--col-red);
    border: solid var(--col-bg) 0.2em;
    outline: solid var(--col-red-shadow) 0.5em;
    box-shadow: 0 0 1.5em var(--col-red-shadow);
}